<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ ring_name }}</title>
    <meta
      name="description"
      content="A webring of people on Samir's Discord server. Perhaps by happenstance, they seem to be UCSD students (current and former)."
    />
    <meta name="theme-color" content="#ee5396" />

    <link rel="stylesheet" href="./styles-index.css" />
  </head>
  <body>
    <div class="sidebar">
      <h1>{{ ring_name }}</h1>
      <p class="desc">
        A <a href="https://en.wikipedia.org/wiki/Webring">webring</a> of people
        on <a href="https://github.com/Samir-Rashid.png">Samir</a>'s Discord
        server. Perhaps by happenstance, they seem to be UCSD students (current
        and former).
      </p>
      <p>
        github:
        <a
          style="color: var(--base11)"
          href="https://github.com/pink10000/ringfairy"
          >pink10000/ringfairy</a
        >
      </p>
      <p>
        opml:
        <a style="color: var(--base11)" href="{{ opml }}">upbring.opml</a>
      </p>
      <p>
        last-updated:
        <span style="color: var(--base11)">{{ current_time }}</span>
      </p>
      <p>
        powered-by:
        <a
          href="https://github.com/k3rs3d/ringfairy"
          style="color: var(--base11)"
          >ringfairy</a
        >
      </p>
    </div>

    <div>
      {% if sites %} {% for site in sites %}
      <p class="site">
        (<span class="keyword">link</span>
        <a href="{{ site.website.url }}">{{ site.website.name }}</a>
        {% if site.website.rss %}
        <br /><a class="symbol" href="{{ site.website.rss }}">'rss</a>
        {% endif %} {% if site.website.atom %}
        <br /><a class="symbol" href="{{ site.website.atom }}">'atom</a>
        {% endif %}
        <br /><span class="string"
          >"{{ site.website.about | default(value="") }}"</span
        >)
      </p>
      {% endfor %} {% endif %} {% if failed_sites %} The following member sites
      were not included in this iteration of the webring:
      <ul>
        {% for site in failed_sites %}
        <li>{{ site.website.url }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <p class="faded">
        ; theme:
        <a href="https://github.com/nyoom-engineering/oxocarbon.nvim"
          >oxocarbon</a
        >
      </p>
    </div>
  </body>
</html>
